<h1>Welcome to the Hair-Salon of.... Great Hair!</h1>

<div class="container">
	<a href="/stylists">View All Our Brilliant Stylists!</a>
	<a href="/stylists/new">Add New  Brilliant Stylist!</a>
</div>
